.gitconfig
*.log
bin/
scripts/
.bin/
.cache/
.conda/
.kube/
.docker/
.viminfo
.wget-hsts
.ssh/
.jupyter/
.ipython/
.local/
.Azure/
.jfrog/
.matplotlib/
.xlwings/
.boto
.npm/
.pylint.d/
.cookiecutter_replay/
.aws
.azure-devops/
.osh-*
.motd_shown
.k5login
.krb5cache
.history
.python_history-*
.sudo_as_admin_successful
.ipynb_checkpoints/
.pyistqa-msal-cache
nohup.out
perl5/
dask-worker-space/
.bp365-msal-cache

!.github/**
!.vscode/

# windows folders
[A-Z]*/

.R*
.*_history
.git-credentials
.netrc
.lesshst
_lesshst
.sdirs
.pyistqa*
.rustup/
.systemd-env/
.wget-hsts/
.cargo/
.cookiecutters/
.dotnet/
.oh-my-bash/
third/
.pyenv/
.pythonhist
checkpoint_cache
checkpoint_signature
__pycache__/
/workspace
/ondemand/

!/.pre-commit-config.yaml
!/.userbashrc
!/.bashrc
!/.bash_profile
!/.condarc
!/.config/**
!/.github/**
!/.vscode/settings.json

# capitalized folders are desktop stuff
/[A-Z]*/
/NTUSER*

