.nfs*
/.*
/workspace
/ondemand/

!/.pre-commit-config.yaml
!/.userbashrc
!/.bashrc
!/.bash_profile
!/.condarc
!/.config/**
!/.github/**
!/.vscode/settings.json

# capitalized folders are desktop stuff
/[A-Z]*/
/NTUSER*

